@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #32A5EF;
  --primary-blue-light: #90D4FF;
  --banner-green: #E8FFF0;
}

body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

@media (max-width: 1280px) {
  .grid-cols-13 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .grid-cols-13 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media (max-width: 480px) {
  .grid-cols-13 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
